body {
  background-color: rgb(204, 170, 176);
}
.container {
  max-height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.container h2 {
  color: rgb(248, 248, 248);
}
.container .input_field {
  margin-top: 1rem;
  padding: 1rem;
}
.container .btn {
  width: 70px;
  margin-left: 2px;
  box-sizing: border-box;
  border-radius: 2px;
  border: none;
  font-size: 16px;
  font-family: Sans-serif font;
}
input[type="text"] {
  width: 50%;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  font-size-adjust: font-size-adjust;
  font-family: Sans-serif font;
  background-color: white;

  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 10px 40px;
}
